body, html {
    margin:0;
    font-family: Arial, sans-serif;
    background:#111;
    color:white;
}

header {
    padding: 20px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

button {
    padding: 5px 10px;
    cursor:pointer;
    background:red;
    border:none;
    color:white;
    border-radius:5px;
}

/* Profiles page */
.profiles-body {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    height:100vh;
}

.profiles-container {
    display:flex;
    gap:30px;
    margin-top:30px;
}

.profile-card {
    display:flex;
    flex-direction:column;
    align-items:center;
    cursor:pointer;
}

/* .profile-card img {
    width:220px;
    height:220px;
    border-radius:10px;
} */

.profile-card p {
    margin-top:10px;
    font-size:18px;
}
.profile-card img {
    width: 230px;
    height: 230px;
    border-radius: 15px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.profile-card:hover img {
    transform: scale(1.1);
    box-shadow: 0 0 50px rgb(136, 0, 0);
}
