body {
    margin: 0;
    background: #111;
    color: white;
    font-family: Arial;
}

header {
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
}

.hero {
    position: relative;
}

video {
    width: 100%;
    height: 60vh;
    object-fit: cover;
}

.hero-text {
    position: absolute;
    bottom: 20%;
    left: 5%;
}

.shows {
    display: flex;
    gap: 15px;
    padding: 20px;
}

.shows img {
    width: 200px;
    border-radius: 10px;
    transition: transform 0.3s;
}

.shows img:hover {
    transform: scale(1.1);
}

